html,
body {
    height: 100%;
    margin: 0;
    /* overflow: auto; */
}

* {
    box-sizing: border-box;
    align-items: center;
}

img {
    max-width: 100%;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

button:focus {
    outline: none;
}

.swiper1 {
    display: flex;
}

.header {
    display: block;
    width: 100%;
    background-image: url(/img/jpg/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 800px;
}

.body_header {
    height: 80px;
    display: flex;
    width: 100%;
}

.container_header {
    width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.header_container {
    display: flex;
    width: 1110px;
    margin: 0 auto;
    position: relative;
    top: 80px;
}

.header_logo {
    position: absolute;
    margin-left: 40px;
    margin-top: 11px;
}

#header_fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    background-color: rgba(0, 91, 193, 0.6);
}

.change_color {
    background-color: rgba(0, 91, 193) !important;
}

.burger_menu {
    background-color: Transparent;
    border: none;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    display: none;
    position: absolute;
    right: 5%;
}

.header_list {
    list-style-type: none;
    display: flex;
    padding-left: 0;
}

.header_link_company {
    color: white;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 0.875em;
    text-decoration: none;
}

.header_link {
    color: white;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 0.875em;
    padding-left: 26px;
    text-decoration: none;
}

.main,
.footer_container {
    width: 1110px;
    margin: 0 auto;
}

.main {
    margin-top: 155px;
}

.header_inner {
    width: 40%;
    background: rgba(0, 91, 193, 0.6);
    height: 720px;
}

.header_content {
    width: 56%;
    position: absolute;
    margin-left: 190px;
}

.header_content_title {
    font-size: 3em;
    color: white;
    font-family: "Oswald";
    font-weight: 400;
}

.header_content_suptitle {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 1em;
    color: white;
    margin-top: 40px;
}

.suptitle_some {
    margin-top: 0;
}

.header_content_btn {
    padding: 15px 40px;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 1em;
    background-color: Transparent;
    color: white;
    border: 2px solid #FFFFFF;
    margin-top: 40px;
}

.projects_title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.project_title_inner {
    display: flex;
}

.swiper-button-inner {
    display: flex;
}

.prev1,
.next1 {
    position: relative;
    width: 55px;
    height: 55px;
    top: 11px;
    background: white;
    border: 2px solid #005bc1;
}

.prev2,
.next2 {
    position: relative;
    width: 55px;
    height: 55px;
    background: white;
    border: 2px solid #005bc1;
    z-index: 20;
}

.prev1::after,
.next1::after,
.prev2::after,
.next2::after {
    font-size: 20px;
    font-weight: 900;
    color: #005bc1;
}

.next1,
.next2 {
    right: 0px;
}

.next2,
.prev2 {
    top: 39px;
}

.prev1,
.prev2 {
    left: 0px
}

.swiper-button2 {
    justify-content: flex-end;
    height: 0px;
}

.project_title,
.production_title,
.rent_title_,
.news_title_inner_title {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 1.875em;
    padding-left: 40px;
    letter-spacing: .05em;
    color: #343434;
}

.swiper1,
.swiper2 {
    overflow: hidden;
}

.project_box-content {
    background-color: white;
    padding: 20px 25px;
    width: 250px;
    position: absolute;
    bottom: 35px;
    right: 35px;
}

.project_box_text {
    font-size: 0.875em;
    font-family: "Open Sans";
    font-weight: 300;
}

.project_box_title {
    font-size: 1.125em;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Oswald";
    font-weight: 400;
    color: #343434;
}

/* .project_item_2 {
    width: 49%;
    position: relative;
} */

.production {
    margin-top: 150px;
}

.production_title_inner {
    display: flex;
}

.pruduction_links {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.pruduction_link {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 1.5em;
    letter-spacing: .05em;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

.pruduction_link:visited {
    color: #343434;

}

.pruduction_link:hover {
    color: #005BC1;
    border-bottom-color: #005BC1;
}

.compulite {
    margin-left: 47px;
}

.production_boxes {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.production__box {
    margin: 0 30px 0 30px;

}

.product_box-text {
    font-family: "Oswald";
    font-size: 1.125em;
    font-weight: 400;
    letter-spacing: .05em;
    color: white;
}

.production_box,
.production__box,
.production___box {
    position: relative;
}

.production_content,
.production__content,
.production___content {
    position: absolute;
    background-color: #005BC1;
    bottom: 20px;
    right: 0px;
    width: 265px;
    height: 86px;
}

.production_content {
    padding: 15px 0 0 21px;
}

.production__content,
.production___content {
    padding: 30px 0 0 21px;
}

.rent {
    margin-top: 150px;
}

.rent_title {
    display: flex;
}

.rent_content {
    display: flex;
    margin-top: 40px;
}

.rent_content-text {
    flex: 0 0 40%;
    padding: 0 95px 0 0;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 1.125em;
    color: #343434;
    line-height: 24.5px;
}

.rent_slide {
    border: 3px solid #005bc1;
    padding: 30px 20px 30px 30px;
    flex: 0 0 60%;
    min-width: 0;
}

.rent_slide_title {
    margin-bottom: 55px;
    margin-top: 12px;
}

.rent_slide_box {
    display: flex;
}

.rent_slide_box-text {
    padding-left: 30px;
    flex: 0 0 61%;
}

.rent_slide_box_list {
    padding-left: 0;
    margin: 0;
}

.rent_slide_title,
.rent_slide_box-title {
    font-family: "Oswald";
    font-weight: 400;
    letter-spacing: .05em;
    color: #343434;
}

.rent_slide_box-title {
    font-size: 1em;
    line-height: 23.71px;
    margin-bottom: 30px;
}

.rent_slide_title {
    font-size: 1.125em;
    line-height: 26.7px;
}

.rent_slide_box_item {
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 0.875em;
    line-height: 19px;
    color: #343434;
    margin-bottom: 15px;
}

.news {
    margin-top: 108px;
}

.news_title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 77px;
}

.news_title_inner {
    display: flex;
}

.news_link {
    font-family: "Open Sans";
    font-weight: 600;
    line-height: 21.79px;
    letter-spacing: .05em;
    color: white;
    padding: 15px 34px 15px 34px;
    background-color: #005BC1;
    text-decoration: none;
}

.news_boxes {
    display: flex;
    align-items: flex-start;
    margin-bottom: 120px;
}

.news_box1_milos_inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 42px;
}

.news_box1_milos_inner_title,
.news_box2_prolight_title,
.news_box2_robe_title {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 1.125em;
    line-height: 26.68px;
    letter-spacing: .05em;
    color: #343434;
}

.news_box1_milos_inner_date,
.news_box2_date,
.news_box2_robe_date {
    font-family: "Open Sans";
    font-size: 0.875em;
    color: #979797;
    font-weight: 600;
}

.content_milos,
.news_box2_prolight_content,
.news_box2_robe_content {
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 0.875em;
    line-height: 19px;
    color: #343434;
    margin-bottom: 21px;
}

.news_box1_milos_link {
    font-family: "Open Sans";
    color: #343434;
    font-weight: 400;
    font-size: 0.875em;
    line-height: 19px;
}

.news_box2_prolight_title,
.news_box2_prolight_content,
.news_box2_robe_title,
.news_box2_robe_content {
    margin-bottom: 20px;
}

.news_box2_prolight_content_inner,
.news_box2_robe_content_inner {
    display: flex;
    align-items: flex-end;
}

.news_box1 {

    display: flex;
    flex: 0 0 48.648%
}

.news_box2 {
    display: flex;
}

.news_box1_milos {
    flex: 0 0 47.22%;
    margin-left: 30px;
}

.news_box2_prolight {
    flex: 0 0 39.47%;
    margin-right: 60px;
    margin-left: 60px;
}

.news_box2_date,
.news_box2_robe_date {
    margin-left: 25px;
}

.footer {
    background-color: #005BC1;
}

.footer_header {
    padding: 40px 0 30px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #FFFFFF;
}

.phone_number {
    font-family: "Oswald";
    font-weight: 400;
    line-height: 26, 68px;
    letter-spacing: .05em;
    text-decoration: none;
    color: white;
    font-size: 1.125em;
}

.address,
.email {
    font-family: "Open Sans";
    font-size: 0.875em;
    text-decoration: none;
    color: white;
    line-height: 19px;
    font-weight: 600;
}

.footer_body {
    display: flex;
    width: 50%;
    padding: 25px 0 25px 0;
    justify-content: space-between;
}

.footer_body_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer_body_item_link {
    text-decoration: none;
    color: white;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 0.875em;
    line-height: 19px;
}

.link_ {
    margin-top: 10px;
}

.footer_bottom {
    border-top: 1px solid #FFFFFF;
    padding: 25px 0 25px 0;
    display: flex;
    justify-content: space-between;
}

.footer_bottom_text {
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 0.875em;
    line-height: 19px;
    color: white;
}

.body_header .show_menu {
    display: block;
    position: absolute;
    background: rgba(0, 91, 193, 0.6);
    left: 0;
    top: 0;
    width: 100%;
    padding: 40px 20px 20px 40px;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}




@media screen and (max-width: 1199px) {
    .header {
        height: 600px;
    }

    .header_inner {
        height: 520px;
    }

    .main,
    .header_container,
    .container_header,
    .footer_container {
        width: 960px;
    }

    .header_content {
        margin-left: 165px;
        width: 70%;
    }

    .main,
    .production,
    .rent {
        margin-top: 120px;
    }

    .pruduction_links {
        margin-top: 50px;
    }

    .projects_title {
        margin-bottom: 50px;
    }

    .header_content_title {
        font-size: 2.6em;
    }

    .production_content,
    .production__content,
    .production___content {
        right: 0px;

    }

    .production_boxes {
        margin-top: 40px;
    }

    .compulite {
        margin-left: 35px;
    }

    .rent_content-text {
        padding: 0 55px 0 0;
    }

    .news {
        margin-top: 80px;
    }

    .news_title {
        margin-bottom: 60px;
    }

    .news_box1_milos {
        margin-left: 20px;
    }

    .news_box2_prolight {
        margin-right: 40px;
        margin-left: 40px;
    }

    .news_boxes {
        margin-bottom: 90px;
    }

    .news_box1_milos_inner {
        margin-bottom: 20px;
    }

    .content_milos {
        margin-bottom: 10px;
    }

    .news_box2_prolight_title,
    .news_box2_prolight_content,
    .news_box2_robe_title {
        margin-bottom: 10px;
    }

    .news_box2_robe_content {
        margin-bottom: 17px;
    }

    .footer_header,
    .footer_body,
    .footer_bottom {
        padding-top: 20px;
    }

    .footer_header {
        padding-bottom: 15px;
    }

    .footer_body,
    .footer_bottom {
        padding-bottom: 20px;
    }

    .news_box2_date,
    .news_box2_robe_date {
        margin-left: 2px;
    }

    .rent_slide_title {
        width: 68%;
    }

    @media screen and (max-width: 991px) {
        .header {
            height: 500px;
        }

        .header_inner {
            height: 420px;
        }

        .main,
        .production,
        .rent {
            margin-top: 60px;
        }

        .news {
            margin-top: 45px;
        }

        .news_title {
            margin-bottom: 40px;
        }

        .news_boxes {
            margin-bottom: 50px;
        }

        .projects_title {
            margin-bottom: 30px;
        }

        .main,
        .container_header,
        .header_container,
        .footer_container {
            width: 720px;
        }

        .header_logo {
            margin-left: 25px;
            width: 90px;
            margin-top: 20px;
        }

        .header_link,
        .header_link_company,
        .project_box_text {
            font-size: 0.75em;
        }

        .header_content_title {
            font-size: 2em;
        }

        .header_content_suptitle,
        .header_content_btn {
            font-size: 0.875em;

        }

        .header_content_btn {
            padding: 10px 26px;
        }

        .header_content {
            margin-left: 120px;
        }

        .project_title,
        .production_title,
        .rent_title_,
        .news_title_inner_title {
            padding-left: 20px;
            font-size: 1.375em;
        }


        .slider {
            width: 45px
        }


        .project_box_title {
            font-size: 1em;
        }

        .pruduction_link {
            font-size: 1.125em;
        }

        .product_box-text {
            font-size: 0.875em;
        }

        .production_content,
        .production__content,
        .production___content {
            height: 60px;
            width: 200px;
            right: 0px;
            bottom: 15px;
        }

        .production_content {
            padding: 10px 0 0 10px;
        }

        .production__content,
        .production___content {
            padding: 20px 0 0 10px;
        }

        .rent_content-text {
            font-size: 0.875em;
            padding-right: 30px;
            line-height: 20px;
        }

        .rent_slide_title {
            font-size: 1em;
            margin-top: 8px;
            margin-bottom: 35px;
            line-height: 20px;
        }

        .rent_slide_box-text {
            padding-left: 15px;
        }

        .rent_slide_box-title {
            font-size: 0.875em;
            margin-bottom: 20px;
            line-height: 20px;
        }

        .rent_slide_box_item {
            font-size: 0.688em;
            margin-bottom: 10px;
        }

        .rent_slide {
            padding: 30px 10px 18px 18px;
        }

        .news_link {
            padding: 10px 22px 10px 22px;
            font-size: 0.875em;
        }

        .news_box1_milos {
            margin-left: 10px;
        }

        .news_box1_milos_inner {
            margin-bottom: 10px;
        }

        .news_box1_milos_inner_title,
        .news_box2_prolight_title,
        .news_box2_robe_title {
            font-size: 0.875em;
            line-height: normal;
        }

        .news_box1_milos_inner_date,
        .content_milos,
        .news_box2_date,
        .news_box2_robe_date,
        .news_box2_prolight_content,
        .news_box2_robe_content {
            font-size: 0.625em;
            line-height: normal
        }

        .news_box1_milos_link {
            font-size: 0.625em;
            line-height: normal
        }

        .news_box2_robe_content_inner,
        .news_box2_prolight_content_inner {
            flex-direction: column;
            align-items: flex-start;
        }

        .news_box2_robe_date,
        .news_box2_date {
            margin-left: 0;
        }

        .phone_number,
        .address,
        .email,
        .footer_body,
        .footer_body_item_link,
        .footer_bottom_text,
        .link_ {
            line-height: normal;
        }

        .phone_number {
            font-size: 0.875em;
        }

        .address,
        .email {
            font-size: 0.688em;
        }

        .footer_body {
            padding: 14px 0 14px 0;
        }

        .footer_body_item_link,
        .footer_bottom_text {
            font-size: 0.688em;
        }

        .link_ {
            margin-top: 5px;
        }

        .news_box2_img {
            width: 100%;
        }

        .prev1,
        .next1,
        .prev2,
        .next2 {
            width: 45px;
            height: 45px;
        }

        .rent_slide_title {
            width: 79%
        }

        .next2,
        .prev2 {
            top: 34px;
        }

        @media screen and (max-width: 768px) {
            .main {
                width: 100%;
                padding: 0 15px;
            }

            .footer_container {
                width: 100%;
            }

            .header {
                height: 400px;
            }

            .body_header {
                height: 60px;
            }

            .header_logo {
                margin-top: 11px;
            }

            .production,
            .pruduction_links,
            .rent,
            .rent_content,
            .news {
                margin-top: 30px;
            }

            .news_title,
            .news_boxes {
                margin-bottom: 30px;
            }

            .pruduction_link {
                font-size: 1em;
            }

            .header_inner {
                height: 340px;
            }


            .header_container {
                width: 100%;
                top: 60px;
            }

            .header_list {
                display: none;
            }

            .burger_menu {
                display: block;
            }

            .header_link {
                padding-left: 0;
            }

            .header_content {
                margin-left: 45px;
            }

            .header_content_title {
                font-size: 1.625em;
            }

            .header_content_suptitle,
            .header_content_btn {
                margin-top: 20px;
            }

            .suptitle_some {
                margin-top: 0;
            }

            .header_content_btn {
                font-size: 0.75em;
            }

            .main {
                margin-top: 20px;
            }

            .production_boxes {
                flex-wrap: wrap;
            }

            .production__box {
                padding: 10px 0 10px 0;
            }

            .product_box-text {
                font-size: 1.125em;
            }

            .production_box,
            .production__box,
            .production___box {
                margin: 0 auto;
            }

            .projects_title {
                margin-bottom: 15px;
            }

            .project_title,
            .production_title,
            .rent_title_,
            .news_title_inner_title {
                font-size: 1.25em;
            }

            .slider {
                width: 40px
            }

            .decor-heading {
                width: 70px;
            }

            .production_content,
            .production__content,
            .production___content {
                height: 90px;
                width: 280px;
            }

            .production_content,
            .production___content {
                bottom: 30px;
            }

            .production__content {
                bottom: 40px;
            }

            .production_content {
                padding: 18px 0 0 10px;
            }

            .production__content,
            .production___content {
                padding: 30px 0 0 10px;
            }

            .rent_content {
                display: block;
            }

            .rent_content-text {
                margin: 0 40px 30px 40px;
                padding: 0;
            }

            .rent_slide_title {
                font-size: 1.125em;
            }

            .rent_slide_box-title {
                font-size: 1em;
            }

            .rent_slide_box_item {
                font-size: 0.875em;
            }

            .news_link {
                font-size: 0.75em;
            }

            .news_boxes {
                flex-direction: column;
            }

            .news_box1 {
                align-items: flex-start;
            }



            .news_box2,
            .news_box2_prolight,
            .news_box2_robe {
                width: 100%;
            }

            .news_box2_prolight {
                flex: 0 0 49%;
                margin: 0;
            }

            .news_box2_robe {
                flex: 0 0 49%;
            }

            .news_box2_img {
                width: 100%;
            }

            .news_box2_robe_title {
                display: flex;
            }

            .robe_p {
                margin-right: 4px;
            }

            .news_box2_robe_content {
                margin-bottom: 10px;
            }

            .news_img {
                flex: 0 0 49%;
            }

            .news_box1_milos {
                flex: 0 0 49%;
                margin-left: 0;
            }

            .news_box2,
            .news_box1 {
                justify-content: space-between;
            }

            .footer_header,
            .footer_bottom {

                flex-wrap: wrap;
                justify-content: space-around;
            }

            .address,
            .email,
            .footer_body_item_link,
            .footer_bottom_text {
                font-size: 0.625em;
            }

            .phone_number {
                font-size: 0.75em;
            }

            .prev1,
            .next1,
            .prev2,
            .next2 {
                width: 40px;
                height: 40px;
            }

            .prev1::after,
            .next1::after,
            .prev2::after,
            .next2::after {
                font-size: 15px;
            }

            .next2,
            .prev2 {
                top: 31px;
            }

        }

        @media screen and (max-width: 624px) {
            .news_box2_robe_title {
                display: block;
            }
        }

        @media screen and (max-width: 616px) {
            .news_box2_prolight_content {
                height: 28px;
            }
        }

        @media screen and (max-width: 575px) {

            .project_title,
            .production_title,
            .rent_title_,
            .news_title_inner_title {
                padding-left: 10px;
            }

            .pruduction_links,
            .production_boxes {
                margin-top: 15px;
            }

            .production,
            .rent,
            .rent_content,
            .news {
                margin-top: 20px;
            }

            .rent_content-text {
                margin: 0 40px 20px 40px;
                font-size: 0.75em;
            }

            .news_title,
            .news_boxes {
                margin-bottom: 20px;
            }

            .footer_body {
                width: 100%;
                padding: 14px 10px;
            }

            .rent_slide_title {
                font-size: 1em;
            }

            .rent_slide_box-title {
                font-size: 0.875em;
            }

            .rent_slide_box_item {
                font-size: 0.75em;
            }

            .prev1,
            .next1,
            .prev2,
            .next2 {
                width: 35px;
                height: 35px;
                border: 1px solid #005bc1;
            }
        }

        @media screen and (max-width: 381px) {

            .header_content_suptitle,
            .header_content_btn {
                margin-top: 15px;
            }

            .suptitle_some {
                margin-top: 0;
            }

            .project_box-content {
                padding: 15px 20px;
                width: 220px;
                right: 10px;
                bottom: 15px;
            }

            .production_content,
            .production__content,
            .production___content {
                width: 250px;
            }

            .news_link {
                font-size: 0.625em;
            }

            .rent_slide_box {
                flex-direction: column;
            }

            .rent_slide {
                padding: 30px 18px 18px 18px;
            }

            .rent_slide_title {
                margin-bottom: 0;
            }

            .rent_slide_box-title {
                margin-bottom: 0;
            }

            .news_box1,
            .news_box2 {
                flex-direction: column;
            }

            .news_box1_milos {
                margin: 15px 0 15px 0;
            }

            .news_box2_prolight_content {
                height: 10px;
            }

            .news_box2_robe {
                margin-top: 15px;
            }

            .news_box2_robe_title {
                display: flex;
            }

            .prev1,
            .next1,
            .prev2,
            .next2 {
                width: 30px;
                height: 30px;
            }

            .prev1::after,
            .next1::after,
            .prev2::after,
            .next2::after {
                font-size: 12px;
            }
        }

        @media screen and (max-width: 327px) {

            .project_title,
            .production_title,
            .rent_title_,
            .news_title_inner_title {
                font-size: 1.125em;
            }

            .address {
                font-size: 0.563em;
            }
        }
    }
}